<ng-content></ng-content>

<div class="menu-container">
  <dx-tree-view
    [items]="items"
    keyExpr="path"
    selectionMode="single"
    [focusStateEnabled]="false"
    expandEvent="click"
    itemTemplate="itemTemplate"
    (onItemClick)="onItemClick($event)"
    width="100%">
    <div class="flex flex-row align-items-center ml-2" *dxTemplate="let item of 'itemTemplate'">
      <div *ngIf="item.icon"><fa-icon class="dx-icon mr-1" [icon]="item.icon"></fa-icon></div>
      <div>{{item.text}}</div>
    </div>
  </dx-tree-view>
</div>
