<header>
  <dx-toolbar class="header-toolbar">
    <dxi-item
      *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu
      }">
    </dxi-item>
    <dxi-item
      location="before"
      cssClass="header-title"
      *ngIf="title"
      [text]="title">
    </dxi-item>
    <dxi-item
      location="center"
      *ngIf="user"
      [text]="user.fullName">
    </dxi-item>
    <dxi-item
      id="settings"
      location="after"
      widget="dxButton"
      cssClass="menu-button"
      [options]="{
       icon:'preferences',
       stylingMode: 'text',
       onClick: toggleMenu
      }">
    <!--  <div *dxTemplate="let data of 'exitTemplate'">
        <dx-button
          height="100%"
          stylingMode="text">
          <fa-icon class="dx-icon" [icon]="faRightFromBracket"></fa-icon>
        </dx-button>
      </div>-->
    </dxi-item>
    <dxi-item
      location="after"
      locateInMenu="auto"
      [onClick]="toggleMenu"
      cssClass="menu-button"
      menuItemTemplate="exitTemplate">
      <div *dxTemplate="let data of 'exitTemplate'">
        <dx-button
          height="100%"
          stylingMode="text">
          <fa-icon class="dx-icon" [icon]="faRightFromBracket"></fa-icon>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</header>
