<div class="p-2">
  <dx-toolbar class="mb-3">
    <dxi-item location="before"
              [disabled]="!isValid"
              menuItemTemplate="openMenuItemTemplate"
              widget="dxButton">
      <div>
        <dx-button (onClick)="onSave()">
          <div class="flex">
            <fa-icon class="dx-icon mr-1" [icon]="faFloppyDisk"></fa-icon>
            <span>Сохранить</span>
          </div>
        </dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before"
              widget="dxButton">
      <div>
        <dx-button>
          <div class="flex">
            <fa-icon class="dx-icon mr-1" [icon]="faFileSignature"></fa-icon>
            <span>Сохранить и отправить</span>
          </div>
        </dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" widget="dxButton">
      <div>
        <dx-button (onClick)="onClose(OUTCOME_APP_ROUTES.VIEW_ORDERS(layoutService.currentProductGroup!))">
          <div class="flex">
            <fa-icon class="dx-icon mr-1" [icon]="faXmark"></fa-icon>
            <span>Закрыть</span>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>

  <dx-form [formData]="order" (onFieldDataChanged)="onFormChanged($event)" [disabled]="!canEdit">
    <dxi-item itemType="group" caption="Информация по заказу">
      <dxi-item dataField="releaseType" *ngIf="order.id>0;">
        <dxo-label text="Статус"></dxo-label>
        <span>{{orderStatus}}</span>
      </dxi-item>
      <dxi-item dataField="releaseType"
                editorType="dxSelectBox"
                [editorOptions]="{items:releaseTypes, displayExpr: 'display', valueExpr:'value'}">
        <dxo-label text="Способ выпуска товара"></dxo-label>
      </dxi-item>
      <dxi-item dataField="paymentType"
                editorType="dxSelectBox"
                [editorOptions]="{items:paymentTypes, displayExpr: 'display', valueExpr:'value'}">
        <dxo-label text="Тип оплаты"></dxo-label>
      </dxi-item>
      <dxi-item dataField="productionOrderId">
        <dxo-label text="Номер производственного заказа"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Продукция">
      <div>
        <dx-toolbar class="mb-1">
          <dxi-item location="before" widget="dxButton">
            <div>
              <dx-button type="success" (onClick)="openProduct()" stylingMode="outlined">
                <div class="flex">
                  <fa-icon class="dx-icon mr-1" [icon]="faCirclePlus"></fa-icon>
                  <span>Добавить</span>
                </div>
              </dx-button>
            </div>
          </dxi-item>

          <dxi-item location="before"
                    menuItemTemplate="openMenuItemTemplate"
                    [disabled]="!canDelete"
                    widget="dxButton">
            <div>
              <dx-button stylingMode="outlined" type="danger" (onClick)="deleteProduct()">
                <div class="flex">
                  <fa-icon class="dx-icon mr-1" [icon]="faTrash"></fa-icon>
                  <span>Удалить</span>
                </div>
              </dx-button>
            </div>
          </dxi-item>
        </dx-toolbar>
        <dx-data-grid [hoverStateEnabled]="true"
                      [showBorders]="true"
                      (onRowDblClick)="openProduct($event)"
                      [(selectedRowKeys)]="selectedItems"
                      [dataSource]="order.orderItems"
                      [remoteOperations]="true"
                      height="100%">
          <dxo-selection mode="single"></dxo-selection>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

          <dxi-column caption="Код товара" dataField="gtin"></dxi-column>
          <dxi-column caption="Наименование товара" dataField="productName"></dxi-column>
          <dxi-column caption="Всего кодов" dataField="totalCodes"></dxi-column>
          <dxi-column caption="В буфере кодов" dataField="countLeft"></dxi-column>
          <dxi-column caption="Получено" dataField="totalPassed"></dxi-column>
          <dxi-column caption="Недоступно" dataField="unavailableCodes"></dxi-column>
          <dxi-column caption="Дата истечения срока годности" dataField="expiredDate"></dxi-column>
          <dxi-column caption="Статус" dataField="packType"></dxi-column>
        </dx-data-grid>
      </div>

    </dxi-item>
  </dx-form>
  <!--  <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Способ выпуска товара:</div>
        <dx-select-box class="dx-field-value" [items]="releaseTypes"/>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Тип оплаты:</div>
        <dx-select-box class="dx-field-value" [items]="paymentTypes"/>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Номер производственного заказа:</div>
        <dx-text-box class="dx-field-value"/>
      </div>
    </div>-->
</div>
