<dx-popup
  [showTitle]="showTitle"
  [dragEnabled]="true"
  [showCloseButton]="showCloseButton"
  [title]="title"
  [height]="height"
  [width]="width"
  [maxWidth]="maxWidth"
  [maxHeight]="maxHeight"
  [(visible)]="popupVisibility"
  [deferRendering]="false"
  [hideOnOutsideClick]="!isModal">


  <ng-template #dynamicContent></ng-template>


  <dxi-toolbar-item
    *ngFor="let btn of dialogButtons"
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="btn">
  </dxi-toolbar-item>
</dx-popup>
